<div>
  <!-- Fix navbar section and make it look semi decent. Doesn't need to completely match vision but at least come close -->
  <!-- Navbar -->
  <nav>
    <ul>
      <li *ngFor="let item of menu1">
        {{item}}
      </li>
      <h1>2D FGE: Fighting Game Expansion</h1>
      <li *ngFor="let item of menu2">
        {{item}}
      </li>
    </ul>
  </nav>
  <!-- Navbar -->

  <!-- Video and Trailers -->

  <!-- Blogs and Updates -->

  <!-- Social media wall-->
</div>
<!-- Footer section -->
<router-outlet></router-outlet>
